*{
	font-family: Monaco, monospace;
}

body{
	background: #000000;
}

.box{
	margin: 0px auto;
	background: #6495ED;
	border-radius: 4px;
	width:70%;
	color: #fff;
	text-align: center;
}

.megabox{
	margin: 0px auto 0px;
	background: #6495ED;
	border-radius: 4px;
	width:90%;
	color: #fff;
	text-align: center;
}