.contenedor{
    width: 100%;
    margin: 0px auto;
    padding: 20px 1px 50px 0px;
    border-radius: 10px;
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: 0px;   
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #E20800;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid;
    border-bottom: #6495ED;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: white;
}

#contenidopestanas{
    clear: both;  
    background: #6495ED;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid;
}